



<div class="container">
  <h1 class="text-center title">Pokemon</h1>
  <br />

 <div class="row">
  <div class="col-md-7 col-xs-12 pokemon-table">
    <h2 class="text-center">Table</h2>

   <hr>
   <div class="header">
    <mat-form-field>
      <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event)" placeholder="Search name">
    </mat-form-field>
  </div>
  <hr>
   <div class="container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" *ngIf="table">

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="See Pokemon">
        <mat-header-cell *matHeaderCellDef > See Pokemon </mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="getOnePokemon(row.name)"> Detail </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
  </div>

  </div>

  <div class="col-md-3 col-xs-12 chart">
    <br />
    <h2 class="text-center">Detail</h2>
    <ul class="list-group" *ngIf="detail">
      <li class="list-group-item text-center"><span class="name">{{pokemon.name}} </span></li>
      <li class="list-group-item text-center">Tipo de Pokemon<span class="text-right">{{pokemon.types[0].type.name}}</span></li>
      <li class="list-group-item text-center">Peso<span class="text-right">{{pokemon.weight}}</span></li>
      <li class="list-group-item text-center">Estatura<span class="text-right">{{pokemon.height}}</span></li>
      <li class="list-group-item text-center">Estatura<span class="text-right">{{pokemon.height}}</span></li>
      <li class="list-group-item text-center">Imagen</li>
      <li class="list-group-item text-center"> <img src="{{pokemon.sprites.front_default}}" /></li>
    </ul>

  </div>


 </div>

 <div class="row">
  <div class="col-md-6 col-x-12 summary">
    <br />
    <h2 class="text-center">Summary</h2>
    <table class="table table-striped" *ngIf="table">
      <thead>
        <tr>
          <th class="text-center">Letter</th>
          <th class="text-center">Total</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="text-center"> <span> A </span></td>
            <td span class="text-center"> <span> {{startA}} </span></td>
          </tr>
          <tr>
            <td class="text-center"><span> B  </span></td>
            <td span class="text-center"> <span> {{startB}} </span></td>
          </tr>
          <tr>
            <td class="text-center"><span>C</span></td>
            <td span class="text-center"> <span> {{startC}} </span></td>
          </tr>
          <tr>
            <td class="text-center"><span>D</span></td>
            <td span class="text-center"><span>{{startD}} </span></td>
          </tr>
          <tr>
            <td class="text-center"><span>E</span></td>
            <td span class="text-center"><span>{{startE}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>F</span></td>
            <td span class="text-center"> <span> {{startF}} </span></td>
          </tr>
          <tr>
            <td class="text-center"><span>G</span></td>
            <td span class="text-center"><span>{{startG}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>H</span></td>
            <td span class="text-center"><span>{{startH}} </span></td>
          </tr>
          <tr>
            <td class="text-center"><span>I</span></td>
            <td span class="text-center"><span>{{startI}}</span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>J</span></td>
            <td span class="text-center"><span>{{startJ}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>K</span></td>
            <td span class="text-center"><span> {{startK}}</span></td>
          </tr>
          <tr>
            <td class="text-center"><span>L</span></td>
            <td span class="text-center"> <span> {{startL}} </span></td>
          </tr>
          <tr>
            <td class="text-center"><span>M</span></td>
            <td span class="text-center"><span>{{startM}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>N</span></td>
            <td span class="text-center"> <span> {{startN}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>Ñ</span></td>
            <td span class="text-center"> <span>{{startN_}}</span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>O</span></td>
            <td span class="text-center"><span>{{startO}}</span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>P</span></td>
            <td span class="text-center"><span>{{startP}}</span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>Q</span></td>
            <td span class="text-center"> <span>{{startQ}}</span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>R</span></td>
            <td span class="text-center"> <span> {{startR}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>S</span></td>
            <td span class="text-center"> <span>{{startS}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>T</span></td>
            <td span class="text-center"><span>{{startT}}</span></td>
          </tr>
          <tr>
            <td class="text-center"><span>U</span></td>
            <td span class="text-center"><span>{{startU}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>V</span></td>
            <td span class="text-center"> <span>{{startY}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>W</span></td>
            <td span class="text-center"><span>{{startW}}</span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>X</span></td>
            <td span class="text-center"><span>{{startX}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>Y</span></td>
            <td span class="text-center"> <span> {{startY}} </span></td>
          </tr>
          <tr>
            <td class="text-center"> <span>Z</span></td>
            <td span class="text-center"><span> {{startZ}} </span></td>
          </tr>
      </tbody>
    </table>
    <br />
  </div>


 </div>




</div>



